---
layout: default
---

{% assign alle_fachsemester = "1,2,3,4" | split: "," %}
{% assign alle_startsemester = "ws,ss" | split: "," %}
{% assign cps = 0 %}

{% assign schwerpunkte = (site.modulbeschreibungen-master | where:"type","sp" | sort: "title") %}
{% assign pflichtmodule = (site.modulbeschreibungen-master | where:"type","pm") %}
{% assign teilmodule = (site.modulbeschreibungen-master | where:"type","tm") %}
{% assign wahlpflichtmodule = (site.modulbeschreibungen-master | where:"type","wpm") %}
{% assign schwerpunktmodule = (site.modulbeschreibungen-master | where:"type","spm") %} 
{% assign schwerpunktmodulwraps = (site.modulbeschreibungen-master | where:"type","spmw") %} 
{% assign schwerpunktprojekte = (site.modulbeschreibungen-master | where:"type","spp") %}

{% assign schwerpunkte = (schwerpunkte | sort: 'title') %}
{% assign wahlpflichtmodule = (wahlpflichtmodule | sort: 'title') %}
{% assign schwerpunktmodule = (schwerpunktmodule | sort: 'title') %}
{% assign pflichtmodule = (pflichtmodule | sort: 'title') %}

{% for schwerpunktprojekt in schwerpunktprojekte %}
{% assign pflichtmodule = pflichtmodule | push: schwerpunktprojekt %}
{% endfor %}
				
{% for schwerpunktmodulwrap in schwerpunktmodulwraps %}
{% assign pflichtmodule = pflichtmodule | push: schwerpunktmodulwrap %}
{% endfor %}

<section class="section">
	<div class="container">
	    <h1 class="title is-1">Modulbeschreibungen Master</h1>
	</div>
</section>

<!-- {% increment tocindex %} -->
<section class="section ideen">
	<div class="container toc unordered">
		<ul class="menu-list">
		{% for schwerpunkt in schwerpunkte %}
			<li><a href="#{{schwerpunkt.id}}">Schwerpunkt {{schwerpunkt.title}}</a></li>
		{% endfor %}
		</ul>
	</div>
</section>

<section class="section">
	<div class="container">    
		{% for schwerpunkt in schwerpunkte %}
		
		<div class="content" id="{{schwerpunkt.id}}">
	        <h2 class="subtitle is-3">Schwerpunkt {{schwerpunkt.title}}</h2>
	        
	        {{schwerpunkt.kurzbeschreibung}}
	        
		</div> 
		<div class="tabs is-tab-navigation">
			<ul>
	        {% for startsemester in alle_startsemester %}
	        
				{% assign semester_id = "studiensemester-ws" %}
				{% assign semester_name = "Wintersemester" %}        					
				{% if startsemester == "ss" %}
					{% assign semester_id = "studiensemester-ss" %}
					{% assign semester_name = "Sommersemester" %}
				{% endif %}
				
				<li class="tab-item" data-tab="{{startsemester}}-{{schwerpunkt.kuerzel}}"><a >{{semester_name}}</a></li>
				
			{% endfor %}
			</ul>
		</div>
		
		<div class="content is-tab-wrap">	        
	        {% for startsemester in alle_startsemester %}
	        
				{% assign semester_id = "studiensemester-ws" %}
				{% assign semester_name = "Wintersemester" %}        					
				{% if startsemester == "ss" %}
					{% assign semester_id = "studiensemester-ss" %}
					{% assign semester_name = "Sommersemester" %}
				{% endif %}

			<table class="table is-tab-content is-{{startsemester}}" id="{{startsemester}}-{{schwerpunkt.kuerzel}}">
				<thead>
					<tr>
						<th width="50%">Modulname</th>
						<th>Kürzel</th>
						<th>CP</th>
						<th>Modulverantwortlicher</th>
					</tr>
				</thead>
				{% for fachsemester in alle_fachsemester%}

					<tr class="no-border">
						<th colspan="4">{{fachsemester}}. Fachsemester </th>
					</tr>
					{% assign sorted_pages = (pflichtmodule | where: semester_id,fachsemester) %}
					{% for modulbeschreibung in sorted_pages %}
					
					
					{% assign show = false %}
					{% if modulbeschreibung.type == "pm" %}{% assign show = true %}{% endif %}
					{% if modulbeschreibung.type == "spmw" %}{% assign show = true %}{% endif %}
					{% if modulbeschreibung.type == "spp" %}
						{% if modulbeschreibung.parent == schwerpunkt.kuerzel %}
						{% assign show = true %}
						{% endif %}
					{% endif %}
					{% if show %}
					{% assign cps = cps | plus: modulbeschreibung.kreditpunkte %}
					<tr>
						<td>
							{% if modulbeschreibung.type == "spmw" %}
							{{modulbeschreibung.title}}: <br>
							{% for schwerpunktmodul in schwerpunktmodule %}
								{% if schwerpunktmodul.parent == schwerpunkt.kuerzel %}
									<!-- startet das Modul im richtigen Semester? -->
									{% assign show_submodule = false %}
									{% assign sem = fachsemester | plus: 0 %}
									{% if startsemester == "ws" %}

										{% assign startsemester_module = schwerpunktmodul.studiensemester-ws | split: "," %}
										{% for startsemester_modul in startsemester_module %}
											{% assign b = startsemester_modul | plus: 0 %}	
											{% if sem == b %}
											{% assign show_submodule = true %}
											{% endif %}
										{% endfor %}
									{% endif %}
									
									{% if startsemester == "ss" %}
										{% assign startsemester_module = schwerpunktmodul.studiensemester-ss | split: "," %}
										{% for startsemester_modul in startsemester_module %}
											{% assign b = startsemester_modul | plus: 0 %}	
											{% if sem == b %}
											{% assign show_submodule = true %}
											{% endif %}
										{% endfor %}
									{% endif %}
									
									{% if show_submodule == true %}
									- <a class="is-small is-less-important" href="{{site.baseurl}}{{schwerpunktmodul.url}}">{{schwerpunktmodul.title}}</a><br> 
									{% endif %}
								
								{% endif %}
							{% endfor %}
							{% else %}
							<a href="{{site.baseurl}}{{modulbeschreibung.url}}">{{modulbeschreibung.title}}</a>
							{% endif %}
						</td>
						<td>{{modulbeschreibung.kuerzel}}</td>
						<td>{{modulbeschreibung.kreditpunkte}}</td>
						<td>
							{% include /functions/resolve-names.html modulverantwortlich=modulbeschreibung.modulverantwortlich %}
							{{modulverantwortliche}}
						</td>
					</tr>
					{% endif %}
					{% endfor %}
					
					<tr>
						<td colspan="2">Summe CP<br><br></td>
						<td colspan="3">{{cps}}</td>
					</tr>
					{% assign cps = 0 %}
	  			{% endfor %}
  			
  			</table>
  			{% endfor %}
		</div>
		{% endfor %}
	</div>
</section>

<section class="section">
	<div class="container">
		<div class="content">
	        <h1>Modulbeschreibungen Master</h1>

			<ol>
			{% assign sorted_pages = (site.modulbeschreibungen-master | sort: 'title') %}
			{% for modulbeschreibung in sorted_pages %}
				<li><a href="{{site.baseurl}}{{modulbeschreibung.url}}">{{modulbeschreibung.title}}</li></a>
			{% endfor %}
			</ol>
		</div>
	</div>
</section>



