---
layout: default
---

{% assign schwerpunkte = (site.modulbeschreibungen-master | where:"type","sp" | sort: "title") %}
{% assign schwerpunkte = (schwerpunkte | sort: 'title') %}

<section class="section">
	<div class="container">
	    <h1 class="title is-1">Schwerpunkte Master</h1>
	</div>
</section>

<section class="section ideen">
	<div class="container toc unordered">
		<ul class="menu-list">
		{% for schwerpunkt in schwerpunkte %}
			<li><a href="#{{schwerpunkt.id}}">Schwerpunkt {{schwerpunkt.title}}</a></li>
		{% endfor %}
		</ul>
	</div>
</section>

{% for schwerpunkt in schwerpunkte %}
<section class="hero is-medium is-info">
	<div class="hero-body">
	    <div class="container">
			<div class="columns is-vcentered">
				<div class="column">
					<h2 class="title">Schwerpunkt {{schwerpunkt.title}}</h2>
				</div>
			</div>
	    </div>
	</div>
</section>
  
<section class="section">
	<div class="container">    
		<div class="content" id="{{schwerpunkt.id}}">
	        {{schwerpunkt.content}}
	        <br>
	        <a href="{{site.baseurl}}/master-schwerpunkt-{{schwerpunkt.kuerzel}}/">Studienverlaufsplan für den Schwerpunkt {{schwerpunkt.title}}</a>
		</div>		
	</div>
</section>
{% endfor %}



