---
layout: default
---
{% assign wma-winter = 0 %}
{% assign wma-winter-sws = 0 %}
{% assign wma-sommer = 0 %}
{% assign wma-sommer-sws = 0 %}
{% assign tutor-winter = 0 %}
{% assign tutor-winter-sws = 0 %}
{% assign tutor-sommer = 0 %}
{% assign tutor-sommer-sws = 0 %}

{% assign sorted_people = (site.data.people | sort) %}
{% assign bpo4 = (site.modulbeschreibungen-bachelor | where:"resources","true") %}
{% assign bpo3 = (site.modulbeschreibungen-bpo3 | where:"resources","true") %} 
{% assign activities = (site.activities-resources | where:"resources","true") %} 

{% assign alle-module = ((bpo4 | concat:bpo3 ) | sort: "title") %} 

<section class="section">
	<div class="container">
		<div class="content">
	    	<h1>Wo wird Hilfe gebraucht?</h1>
	    	Hier sind alle Module und Aktivitäten zusammen gefasst, um eine Übersicht zu geben, wofür welche Mitarbeiter benötigt und eingesetzt werden.
	    </div>
	</div>
</section>

<section class="section">
	<div class="container">    
		<div class="content is-tab-wrap">	        
			<h2>Wintersemester</h2>
			<table class="table is-tab-content">
				<thead>
					<tr>
						<th>Modul</th>
						<th width="15%">WMA (SWS)</th>
						<th width="15%">SHK/ Tutor (SWS)</th>
						<th width="15%">Profil</th>
					</tr>
				</thead>
				<tbody>
				{% for modul in (alle-module) %}
				{% include /functions/resolve-names.html verantwortlich=modul.modulverantwortlich %}
				{% assign studiensemester = modul.studiensemester | modulo: 2 }} %}
				{% if studiensemester == 1 or modul.jedes-semester == true %}
				<tr>
					<td><a href="{{site.baseurl}}{{modul.url}}">{{modul.title}}</a> <a target="_blank" href="https://github.com/th-koeln/mi-2017/edit/master/{{ modul.path }}"><span class="icon"><i class="fa fa-edit"></i></span></a><br>{{modulverantwortliche}}
					</td>
					<td>{% if modul.wma %}
						{% assign wma-winter = wma-winter | plus: modul.wma.anzahl %}
						{% assign wma-winter-sws = wma-winter-sws | plus: modul.wma.sws %}
						{{modul.wma.anzahl}} x {{modul.wma.sws}} SWS
						{% endif %}
					</td>
					<td>{% if modul.tutor %}
						{% assign tutor-winter = tutor-winter | plus: modul.tutor.anzahl %}
						{% assign tutor-winter-sws = tutor-winter-sws | plus: modul.tutor.sws %}
						{{modul.tutor.anzahl}} x {{modul.tutor.sws}} SWS
						{% endif %}
					</td>
					<td>{% if modul.resources-skillset %}{{modul.resources-skillset}}{% endif %}</td>
				</tr>
				{% endif %}				
				{% endfor %}
				
				<tr>
					<th><br>Aktivität</th>
					<th><br>WMA (SWS)</th>
					<th><br>SHK/ Tutor (SWS)</th>
					<th><br>Profil</th>
				</tr>

				{% for activity in (activities) %}
				{% include /functions/resolve-names.html verantwortlich=activity.verantwortlich %}
				{% if activity.ws == true %}
				<tr>
					<td><a href="{{site.baseurl}}{{activity.url}}">{{activity.title}}</a> <a target="_blank" href="https://github.com/th-koeln/mi-2017/edit/master/{{ activity.path }}"><span class="icon"><i class="fa fa-edit"></i></span></a><br>{{verantwortliche}}</td>
					<td>{% if activity.wma %}
						{% assign wma-winter = wma-winter | plus: activity.wma.anzahl %}
						{% assign wma-winter-sws = wma-winter-sws | plus: activity.wma.sws %}
						{{activity.wma.anzahl}} x {{activity.wma.sws}} SWS
						{% endif %}
					</td>
					<td>{% if activity.tutor %}
						{% assign tutor-winter = tutor-winter | plus: activity.tutor.anzahl %}
						{% assign tutor-winter-sws = tutor-winter-sws | plus: activity.tutor.sws %}
						{{activity.tutor.anzahl}} x {{activity.tutor.sws}} SWS
						{% endif %}
					</td>
					<td>{% if activity.resources-skillset %}{{activity.resources-skillset}}{% endif %}</td>
				</tr>
				{% endif %}				
				{% endfor %}

				</tbody>

				<tfoot>
					<tr>
						<td></td>
						<td>{{wma-winter}}/ {{wma-winter-sws}} SWS</td>
						<td>{{tutor-winter}}/ {{tutor-winter-sws}} SWS</td>
						<td></td>
					</tr>
				</tfoot>
  			</table>
		</div>
	</div>
</section>

<section class="section">
	<div class="container">    
		<div class="content is-tab-wrap">	        
			<h2>Sommersemester</h2>
			<table class="table is-tab-content">
				<thead>
					<tr>
						<th>Modul</th>
						<th width="15%">WMA (SWS)</th>
						<th width="15%">SHK/ Tutor (SWS)</th>
						<th width="15%">Profil</th>
					</tr>
				</thead>
				<tbody>
				{% for modul in (alle-module) %}
				{% include /functions/resolve-names.html verantwortlich=modul.modulverantwortlich %}
				{% assign studiensemester = modul.studiensemester | modulo: 2 }} %}
				{% if studiensemester == 0 %}
				<tr>
					<td><a href="{{site.baseurl}}{{modul.url}}">{{modul.title}}</a> <a target="_blank" href="https://github.com/th-koeln/mi-2017/edit/master/{{ modul.path }}"><span class="icon"><i class="fa fa-edit"></i></span></a><br>{{modulverantwortliche}}
					</td>
					<td>{% if modul.wma %}
						{% assign wma-sommer = wma-sommer | plus: modul.wma.anzahl %}
						{% assign wma-sommer-sws = wma-sommer-sws | plus: modul.wma.sws %}
						{{modul.wma.anzahl}} x {{modul.wma.sws}} SWS
						{% endif %}
					</td>
					<td>{% if modul.tutor %}
						{% assign tutor-sommer = tutor-sommer | plus: modul.tutor.anzahl %}
						{% assign tutor-sommer-sws = tutor-sommer-sws | plus: modul.tutor.sws %}
						{{modul.tutor.anzahl}} x {{modul.tutor.sws}} SWS
						{% endif %}
					</td>
					<td>{% if modul.resources-skillset %}{{modul.resources-skillset}}{% endif %}</td>
				</tr>
				{% endif %}				
				{% endfor %}

				<tr>
					<th><br>Aktivität</th>
					<th><br>WMA (SWS)</th>
					<th><br>SHK/ Tutor (SWS)</th>
					<th><br>Profil</th>
				</tr>

				{% for activity in (activities) %}
				{% include /functions/resolve-names.html verantwortlich=activity.verantwortlich %}
				{% if activity.ss == true %}
				<tr>
					<td><a href="{{site.baseurl}}{{activity.url}}">{{activity.title}}</a> <a target="_blank" href="https://github.com/th-koeln/mi-2017/edit/master/{{ activity.path }}"><span class="icon"><i class="fa fa-edit"></i></span></a><br>{{verantwortliche}}
					</td>
					<td>{% if activity.wma %}
						{% assign wma-sommer = wma-sommer | plus: activity.wma.anzahl %}
						{% assign wma-sommer-sws = wma-sommer-sws | plus: activity.wma.sws %}
						{{activity.wma.anzahl}} x {{activity.wma.sws}} SWS
						{% endif %}
					</td>
					<td>{% if activity.tutor %}
						{% assign tutor-sommer = tutor-sommer | plus: activity.tutor.anzahl %}
						{% assign tutor-sommer-sws = tutor-sommer-sws | plus: activity.tutor.sws %}
						{{activity.tutor.anzahl}} x {{activity.tutor.sws}} SWS
						{% endif %}
					</td>
					<td>{% if activity.resources-skillset %}{{activity.resources-skillset}}{% endif %}</td>
				</tr>
				{% endif %}				
				{% endfor %}

				</tbody>

				<tfoot>
					<tr>
						<td></td>
						<td>{{wma-sommer}}/ {{wma-sommer-sws}} SWS</td>
						<td>{{tutor-sommer}}/ {{tutor-sommer-sws}} SWS</td>
						<td></td>
					</tr>
				</tfoot>
  			</table>
		</div>
	</div>
</section>
