---
layout: reduced
---
{% assign lehrveranstaltungen=site.lehrveranstaltungen|sort: 'title' %}
{% assign cards = "" | split: "" %} {% for lehrveranstaltung in lehrveranstaltungen %}
{% if lehrveranstaltung.typ != "other" %}
{% capture card %}
{% include veranstaltungsinfo-klein.html lehrveranstaltung=lehrveranstaltung %}
{% endcapture %}
{% assign cards=cards|push:card %}
{% endif %}
{% endfor %}


<section class="section">
  <div class="container" data-starting-date="date-{{ site.data.dates['week-1']['day-1']['datum'] }}">
    <h2 class="title is-1">Zeitplan Sommermester 2025</h2>
    <h3 class="subtitle is-2">Änderungen vorbehalten</h3>
    {% include /functions/zeitplan.html %}
  </div>
</section>

<script>
  Date.getWeeksBetween = function (date1, date2) {
    const ONE_WEEK = 1000 * 60 * 60 * 24 * 7;
    const date1_ms = date1.getTime();
    const date2_ms = date2.getTime();

    const difference_ms = Math.abs(date1_ms - date2_ms);

    return Math.floor(difference_ms / ONE_WEEK);
  }

  Date.prototype.getFirstDayOfWeek = function () {
    const day = this.getDay();
    const currDate = this.getDate();
    const tempDate = new Date(this.toString());

    if (day > 0) {
      tempDate.setDate(currDate - (day - 1))
    }

    return tempDate;
  }

  const startingDateData = document.querySelector("[data-starting-date]").dataset.startingDate.replace("date-", "");
  const startingDate = new Date(startingDateData);
  const today = new Date();

  // counting starts at 1
  let diffWeek = Date.getWeeksBetween(startingDate.getFirstDayOfWeek(), today) + 1;
  let scrollTarget = `#week-${diffWeek}`;

  // prefers reduced motion
  const mediaQuery = window.matchMedia("(prefers-reduced-motion: reduce)");

  document.querySelector(scrollTarget).scrollIntoView({
    behavior: (!mediaQuery || mediaQuery.matches) ? 'auto' : 'smooth'
  });
</script>
