<table>
	<thead>
		<tr>
			<td width="30%">Kompetenzen</td>
			<td>Ziele und Lernergebnisse</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>Die Studierenden …</td>
		</tr>
		<tr>
			<td>Formale, algorithmische, mathematische Kompetenzen</td>
			<td>
				<ul>
					<li>können Probleme und Anforderungen exakt beschreiben, um diese in geeigneten Datenstrukturen und effizienten Algorithmen umzusetzen.</li>
					<li>kennen Vorgehensweisen und Werkzeuge, um Probleme und Sachverhalte zu abstrahieren und zu modellieren (logische und algebraische Kalküle, graphentheoretische Notationen, formale Sprachen und Automaten sowie spezielle Kalküle wie Petri-Netze oder die Prozessalgebra CSP) </li>
					<li>kennen Verfahrensweisen um den algorithmischen Kern eines Problems zu identifizieren und können Algorithmen entwerfen, verifizieren und bzgl. ihres Ressourcenbedarfs bewerten.</li>
					<li>können Lösungen angemessenen fachlich kommunizieren, bewerten und im Rahmen von kooperativen Arbeitszusammenhängen nutzen.</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>Analyse-, Entwurfs-, Realisierungs- und Projektmanagement-Kompetenzen (Programmiersprachen und -methodik, Software-Engineering, Mensch-Computer-Interaktion, Projekt- und Teamkompetenz)</td>
			<td>
				<ul>
					<li>haben die Fähigkeit, mit Aufgabenstellern und zukünftigen Systemnutzern zu kommunizieren und zu kooperieren und sich schnell in neue Anwendungskontexte einzuarbeiten.</li>
					<li>können bekannte Problemstellungen im Anwendungskontext erkennen und sind mit den zugehörigen Lösungsmustern vertraut.</li>
					<li>erkennen Inkonsistenzen und können mit unklaren Anforderungen umgehen.</li>
					<li>können komplexe Domänen modellieren und große Anwendungsprobleme durch geeignete Schnittstellen in Teilprobleme zerlegen.</li>
					<li>haben solide Kenntnisse in der Software-Architektur um Systeme aus Hard- und Software zu konstruieren, welche die Anforderungen vollständig erfüllen.</li>
					<li>können Mensch-Technik-Schnittstellen anwendungsgerecht und ergonomisch gestalten. </li>
					<li>berücksichtigen beim Entwurf die Umsetzung nichtfunktionaler Anforderungen, wie Sicherheit, Performanz, Skalierbarkeit, Wartbarkeit, Erweiterbarkeit und Zuverlässigkeit.</li>
					<li>beherrschen gängige Programmierparadigmen und moderne Entwicklungsmethoden um professionell größere Programmsysteme zu erstellen und sorgfältig testen zu können.</li>
					<li>haben die Fähigkeit sich in vorhandenen Quelltext einzuarbeiten und diesen sinnvoll weiter zu entwickeln.</li>
					<li>haben Kenntnisse über Konfigurations-, Change-, Release- und Deployment-Management.</li>
					<li>können Arbeitsprozesse gestalten und insbesondere die eigene und anderer Personen Arbeit organisieren, sie sind teamfähig und in der Lage sich konstruktiv mit Konzepten und Lösungsvorschlägen auseinander zu setzen.</li>
					<li>haben gelernt, auch unter begrenzten Ressourcen Lösungen zu erarbeiten, die allgemein anerkannten Qualitätsstandards genügen und von allen Beteiligten akzeptiert werden.</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>Technologische Kompetenzen (Digitaltechnik und Rechnerorganisation, Betriebssysteme, Datenbanken und Informationssysteme, Rechnernetze und verteilte Systeme, IT-Sicherheit)</td>
			<td>
				<ul>
					<li>haben Kenntnisse über moderne Betriebssysteme, Rechnerarchitekturen und Rechnernetze sowie deren Anwendung in konkreten Problemstellungen und Anwendungskontexten.</li>
					<li>sind in der Lage die Infrastruktur für verteilte Systeme unter Nutzung von Middleware zu entwerfen. </li>
					<li>beherrschend den Prozess vom Datenbankentwurf bis zum Betrieb des datenbankgestützten Anwendungssystems sowie Datenanalyse und Grundlagen des maschinellen Lernens. </li>
					<li>haben fundierte Kenntnisse zu Sicherheitsmaßnahmen und -mechanismen.</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>Fachübergreifende Kompetenzen (Gesellschaftliche und berufsethische Aspekte von Informatiksystemen im Anwendungskontext, ökonomische und ökologische Aspekte von Informatiksystemen im Anwendungskontext, Rechtliche Aspekte von Informatiksystemen im Anwendungskontext)</td>
			<td>
				<ul>
					<li>sind in der Lage, Aufgaben in verschiedenen Anwendungsfeldern unter gegebenen technischen, ökonomischen, ökologischen und sozialen Randbedingungen mit den Mitteln der Informatik zu bearbeiten und entsprechende Systeme zu entwickeln. </li>
					<li>verfügen über betriebswirtschaftliche Grundkenntnisse, da die Planung, Entwicklung und Nutzung aller Informatiksysteme unter wirtschaftlichen Rahmenbedingungen stattfinden.</li>
					<li>haben juristische Grundkenntnisse um rechtsverbindliche Dokumente wie Rahmenvereinbarungen, projektspezifische Verträge, Lizenz- oder Nutzungsverträge aushandeln zu können. Darüber hinaus können sie die gesetzliche Basis von Sicherheitsaspekten, als auch Fragen des Urheberrechts und der Produkthaftung berücksichtigen. </li>
					<li>haben einen Einblick in berufsethische Rahmenbedingungen erhalten und können die Auswirkungen ihrer Arbeit auf die zukünftigen Nutzer sowie auf die Gesellschaft in ihren sozialen, wirtschaftlichen, arbeitsorganisatorischen, psychologischen und rechtlichen Aspekten einschätzen.</li>
				</ul>
			</td>
		</tr>
		
		<tr>
			<td>Soziale Kompetenzen und Selbstkompetenzen (Kooperationsmanagement, Diversity- und Konfliktmanagement, Organisationsentwicklung)</td>
			<td>
				<ul>
					<li>verfügen über kommunikative Kompetenzen, um ihre Ideen und Lösungsvorschläge schriftlich oder mündlich überzeugend zu präsentieren, abweichende Positionen zu erkennen und in eine sach- und interessengerechte Lösung zu integrieren – und zwar auch dann, wenn die informatische Sprech- und Denkweisen dem Kommunikationspartner nicht geläufig sind.</li>
					<li>kennen ihre berufliche Rolle, die damit verbundenen Erwartungen und ggf. vorhandene Rollenkonflikte in Kommunikationssituationen und können zur Konfliktlösung beitragen. Dazu sind auch Kenntnisse im Konfliktmanagement erforderlich, um in kontroversen Diskussionen zielorientiert zu argumentieren und mit Kritik sachlich umzugehen. Vorhandene Missverständnisse zwischen Gesprächspartnern müssen frühzeitig erkannt und abgebaut werden können.</li>
				</ul>
			</td>
		</tr>
		
		<tr>
			<td>Methoden- und Transferkompetenz (Strategien des Wissenserwerbs und der wissenschaftlichen Weiterbildung, Analyse von Informatiksystemen in ihrem Anwendungskontext, Implementierungs- und Evaluationsstrategien)</td>
			<td>
				<ul>
					<li>sind in der Lage sich selbstständig neues Wissen anzueigenen und zu erkennen, welches Wissen relevant ist.</li>
					<li>haben die Kompetenz zum wissenschaftlichen Arbeiten.</li>
					<li>können (Informatik-)systeme mit systematischen Verfahren empirisch evaluieren.</li>
					<li>sind in der Lage, neue informatische Methoden in eine oft historisch gewachsene betriebliche Praxis einzuführen. </li>
					<li>haben die Fähigkeit, einen existierenden Anwendungskontext zu analysieren, zu bewerten und aktuelle problemadäquate informatische Methoden auf diesen Kontext zu übertragen, sowie den derart neu generierten Anwendungskontext zu evaluieren.</li>
				</ul>
			</td>
		</tr>
		
		<tr>
			<td>Medienkompetenz</td>
			<td>
				<ul>
					<li>können eine Perspektive der Medienkonzeption einnehmen, haben eine mediengestalterische Grundkompetenz entwickelt und sind in der Lage, bzgl. der Kommunikationsziele eine geeignete Medienauswahl zu treffen.</li>
					<li>können organisationale, soziale, gestalterische und kulturelle Kontexte, Vorgaben und Regeln erschließen, analysieren, definieren und unter Berücksichtigung weiterer fachlicher Perspektiven angemessene Gestaltungsziele formulieren.</li>
					<li>kennen die Gestaltungsdimensionen von Medien und besitzen aktive Vokabularien zur Beschreibung und Realisierung angemessener Konzeptionen.</li>
					<li>können die Realisationen bezüglich der Zielsetzungen kritisch diskutieren.</li>
				</ul>
			</td>
		</tr>

	</tbody>
</table>