{% assign termine = include.termine | split: ","  %}

{% assign default-data = include.default-raum | split: "|" %}
{% assign default-raum = default-data[0] %}
{% assign default-link = default-data[1] %}


<ul>

{% for entry in termine %}

    {% assign entry-data = entry | split: "|" %}
    {% assign termin = entry-data[0] %}
    {% assign termin-raum = entry-data[1] %}
    {% assign termin-link = entry-data[2] %}

    {% assign new_termin = termin | date: '%s' | minus: 3600 %}
    {% assign t = termin | date: '%d. %B %Y, %H:%M Uhr' | replace:"January","Januar" | replace:"February","Februar" | replace:"March","März" | replace:"May","Mai" | replace:"June","Juni" | replace:"July","Juli"  | replace:"October","Oktober" | replace:"December","Dezember"  %}

    {% if termin-raum == "" or termin-raum == nil %}
    {% assign raum = default-raum %}
    {% else %}
    {% assign raum = termin-raum %}
    {% endif %}

    {% if termin-link == "" or termin-link == nil %}
    {% assign link = default-link %}
    {% else %}
    {% assign link = termin-link %}
    {% endif %}

    <li>
        {{t}} &ndash; Raum
        {% if link == "" or link == nil %}
            {{raum}}
        {% else %}
        <a href="{{link}}" target="_blank" rel="noopener" title="Link zum Termin">{{raum}}</a>
        {% endif %}
    </li>

{% endfor %}

</ul>