---
layout: default
---

{% assign sorted_people = (site.data.people | sort) %}


<section class="section">
	<div class="container">
		<div class="content">
	    	<h1>Dozenten</h1>
	    </div>
	</div>
</section>

<section class="section">
	<div class="container">    
		<div class="content is-tab-wrap">	        

			<table class="table is-tab-content">
				<thead>
					<tr>
						<th width="10%">Kürzel</th>
						<th width="30%">Name</th>
						<th>Module</th>
					</tr>
				</thead>
				<tbody>
				{% for member in sorted_people %}
				{% include /functions/collect-courses.html dozent=member %}
				{% assign ws = false %}
					<tr>
						<td>{{ member[0] }}</td>
						<td>{{ member[1].name}}</td>
						<td>
							{% assign m = (module_ws | size) %}
							{% if m > 0 %}
							Wintersemester: <br>{{module_ws}}
							{% assign ws = true %}
							{% endif %}
							
							{% assign m = (module_ss | size) %}
							{% if m > 0 %}
							
							{% if ws == true %}
							<hr>
							{% endif %}
							
							Sommersemester: <br>{{module_ss}}
							{% endif %}
							
						</td>
					</tr>
				{% endfor %}
				</tbody>
  			</table>
		</div>
	</div>
</section>
