---
layout: default
---

{% assign alle_fachsemester = "1,2,3,4,5,6" | split: "," %}
{% assign cps = 0 %}

{% assign pflichtmodule = (site.modulbeschreibungen-bachelor | where:"typ","pm") %}
{% assign teilmodule = (site.modulbeschreibungen-bachelor | where:"typ","tm") %}
{% assign wahlpflichtmodule = (site.modulbeschreibungen-bachelor | where:"typ","wpm") %}
{% assign vertiefungsmodule = (site.modulbeschreibungen-bachelor | where:"typ","vpm") %} 

{% assign sorted_teilmodule = (teilmodule | sort: 'title') %}

<section class="section">
	<div class="container">
		<div class="content">
	        <h1>Studienverlaufsplan Medieninformatik Bachelor</h1>
			<table class="table">
				<thead>
					<tr>
						<th width="50%">Modulname</th>
						<th>Kürzel</th>
						<th>CP</th>
						<th>Modulverantwortlicher</th>
					</tr>
				</thead>
				{% for fachsemester in alle_fachsemester%}
				
					<tr class="no-border">
						<th colspan="4">{{fachsemester}}. Fachsemester </th>
					</tr>
					{% assign sorted_pages = (pflichtmodule | where:"studiensemester",fachsemester | sort: 'title') %}
					{% for modulbeschreibung in sorted_pages %}
					{% assign cps = cps | plus: modulbeschreibung.kreditpunkte %}
					<tr>
						<td>
							<a href="{{site.baseurl}}{{modulbeschreibung.url}}">{{modulbeschreibung.title}}</a>
							{% for teilmodulbeschreibung in sorted_teilmodule %}
								{% if teilmodulbeschreibung.parent == modulbeschreibung.kuerzel %}
								- <a class="is-small is-less-important" href="{{site.baseurl}}{{teilmodulbeschreibung.url}}">{{teilmodulbeschreibung.title}}</a><br> 
								{% endif %}
							{% endfor %}
						</td>
						<td>{{modulbeschreibung.kuerzel}}</td>
						<td>{{modulbeschreibung.kreditpunkte}}</td>
						<td>
							{% include /functions/resolve-names.html modulverantwortlich=modulbeschreibung.modulverantwortlich %}
							{{modulverantwortliche}}
						</td>
					</tr>
					{% endfor %}
					
					{% if fachsemester == "4" %}
					{% assign cps = cps | plus: 20 %}
					<tr class="no-border">
						<td>Vertiefungsmodule:</td>
						<td>VPM</td>
						<td colspan="2">20</td>
					</tr>
					
					{% assign sorted_pages = (vertiefungsmodule | where:"studiensemester",fachsemester | sort: 'title') %}
						{% for vertiefungsmodulbeschreibung in sorted_pages %}
						
						<tr class="no-border">
							<td>
								<a href="{{site.baseurl}}{{vertiefungsmodulbeschreibung.url}}">{{vertiefungsmodulbeschreibung.title}}</a><br>
								{% for teilmodulbeschreibung in sorted_teilmodule %}
									{% if teilmodulbeschreibung.parent == vertiefungsmodulbeschreibung.kuerzel %}
									<!--a class="is-small is-less-important" href="{{site.baseurl}}{{teilmodulbeschreibung.url}}">{{teilmodulbeschreibung.title}}</a><br--> 
									{% endif %}
								{% endfor %}
							
							</td>
							<td>VPM-{{vertiefungsmodulbeschreibung.kuerzel}}</td>
							<td></td>
							<td>
								{% include /functions/resolve-names.html modulverantwortlich=vertiefungsmodulbeschreibung.modulverantwortlich %}
								{{modulverantwortliche}}
							</td>
						</tr>
						{% endfor %}
  					{% endif %}
					
					<tr>
						<td colspan="2">Summe CP<br><br></td>
						<td colspan="3">{{cps}}</td>
					</tr>
					{% assign cps = 0 %}
	  			{% endfor %}
  			
  			</table>
  			
		</div>
	</div>
</section>

<section class="section">
	<div class="container">
		<div class="content">
	        <h1>Modulbeschreibungen Bachelor</h1>

			<ol>
			{% assign sorted_pages = (site.modulbeschreibungen-bachelor | sort: 'title') %}
			{% for modulbeschreibung in sorted_pages %}
				<li><a href="{{site.baseurl}}{{modulbeschreibung.url}}">{{modulbeschreibung.title}}</li></a>
			{% endfor %}
			</ol>
		</div>
	</div>
</section>

