---
layout: default
---

{% assign schwerpunkte = (site.modulbeschreibungen-master | where:"typ","sp" | sort: "title") %}
{% assign schwerpunkte = (schwerpunkte | sort: 'title') %}

{% assign intro = (site.modulbeschreibungen-master | where:"kuerzel","intro-master-schwerpunkte" | first) %}

<!-- Leeres Array für Module deklarieren -->
{% assign module_ss = "" | split:"|"  %}
{% assign module_ws = "" | split:"|"  %}

<section class="section">
	<div class="container">
		<div class="content">
			<h1>Schwerpunkte & Module im Master</h1>
		</div>
	    
	</div>
</section>

<section class="section">
	<div class="container">    
		<div class="content">
		    {{intro.content}}
		</div>		
	</div>
</section>

{% for schwerpunkt in schwerpunkte %}
{% if schwerpunkt.content %}
<section class="section">
	<div class="container">    
		<div class="content" id="{{schwerpunkt.id}}">
			<h2 class="title is-primary" data-target="infos-{{schwerpunkt.id}}">Schwerpunkt {{schwerpunkt.title}}</h2>
			<div class="is-hidden" id="infos-{{schwerpunkt.id}}">
		        <a href="{{site.baseurl}}/master-schwerpunkt-{{schwerpunkt.kuerzel}}/">Studienverlaufsplan für den Schwerpunkt {{schwerpunkt.title}}</a>
		        <br><br>
				{{schwerpunkt.content}}
			</div>
	        
		</div>		
	</div>
</section>
{% endif %}
{% endfor %}

{% assign alle_fachsemester = "1,2,3,4" | split: "," %}
{% assign alle_startsemester = "ws,ss" | split: "," %}

{% assign pflichtmodule = (site.modulbeschreibungen-master | where:"typ","pm") %}
{% assign wahlpflichtmodule = (site.modulbeschreibungen-master | where:"typ","wpm") %}
{% assign schwerpunktmodule = (site.modulbeschreibungen-master | where:"typ","spm") %} 
{% assign schwerpunktprojekte = (site.modulbeschreibungen-master | where:"typ","spp") %}

{% assign module = pflichtmodule %}

{% for schwerpunktprojekt in schwerpunktprojekte %}
{% assign module = module | push: schwerpunktprojekt %}
{% endfor %}
				
{% for schwerpunktmodulwrap in schwerpunktmodulwraps %}
{% assign module = module | push: schwerpunktmodulwrap %}
{% endfor %}

{% for wahlpflichtmodul in wahlpflichtmodule %}
{% assign module = module | push: wahlpflichtmodul %}
{% endfor %}

{% for schwerpunktmodul in schwerpunktmodule %}
{% assign module = module | push: schwerpunktmodul %}
{% endfor %}

{% assign module = (module | sort: 'title') %}

{% for modul in module %}

<!-- Liegt das Modul im Sommersemester oder Wintersemester? -->
{% assign value = modul.studiensemester-ws | modulo:2 %}

{% if modul.title != "Wahlpflichtmodul" %}
	{% if value == 0 %}
	{% assign module_ss = module_ss | push: modul %}
	{% else %}
	{% assign module_ws = module_ws | push: modul %}
	{% endif %}
{% endif %}
{% endfor %}

<hr>

<section class="section">
	<div class="container">
	    <h2 class="title is-2">Alle Module</h2>
	</div>
</section>

<section class="section">
	<div class="container">    
		<div class="content">	        

			<table class="table">
				<thead>
					<tr>
						<th width="1%" class="kennung"></th>
						<th width="60%">Module Wintersemester</th>
						<th width="10%">Kürzel</th>
						<th width="30%">Name</th>
						
					</tr>
				</thead>
				<tbody>
				{% for modul in module_ws %}
					<tr>
						{% assign kennung = modul.typ %}
						{% if modul.title == "Wahlpflichtmodul" %}
						{% assign kennung = "pm-grau" %}
						{% endif %}
						<td class="kennung {{kennung}}"></td>
						<td><a href="{{site.baseurl}}{{modul.url}}">{{modul.title}}</a>
							{% if modul.informatik-master %}
								(InfMa: {{modul.informatik-master}})
							{% endif %}
						</td>
						<td>{{ modul.kuerzel }}</td>
						<td>
							{% include /functions/resolve-names.html modulverantwortlich=modul.modulverantwortlich %}
							{{modulverantwortliche}}
						</td>
					</tr>
				{% endfor %}
				</tbody>
				<thead>
					<tr>
						<th width="1%" class="kennung"></th>
						<th><br><br>Module Sommersemester</th>
						<th width="10%"><br><br>Kürzel</th>
						<th width="30%"><br><br>Name</th>
						
					</tr>
				</thead>
				<tbody>
				{% for modul in module_ss %}
					<tr>
						{% assign kennung = modul.typ %}
						{% if modul.title == "Wahlpflichtmodul" %}
						{% assign kennung = "pm-grau" %}
						{% endif %}
						<td class="kennung {{kennung}}"></td>
						<td><a href="{{site.baseurl}}{{modul.url}}">{{modul.title}}</a>
						{% if modul.informatik-master %}
							(InfMa: {{modul.informatik-master}})
						{% endif %}
						</td>
						<td>{{ modul.kuerzel }}</td>
						<td>
							{% include /functions/resolve-names.html modulverantwortlich=modul.modulverantwortlich %}
							{{modulverantwortliche}}
						</td>
					</tr>
				{% endfor %}
				</tbody>
  			</table>
		</div>
	</div>
</section>

<hr>

<section class="section">
	<div class="container">
	    <h2 class="title is-2">Schwerpunktmodule in der Übersicht</h2>
	</div>
</section>

<section class="section">
	<div class="container">    
		<div class="content">	        

			<table class="table">
				<thead>
					<tr>
						<th></th>
						{% for schwerpunkt in schwerpunkte %}
						<th>{{schwerpunkt.title}}</th>
						{% endfor %}
					</tr>
				</thead>
				<tbody>
				
					<tr>
					{% include /functions/show-spms.html spm="SPM1" %}
					</tr>
					
					<tr>
					{% include /functions/show-spms.html spm="SPM2" %}
					</tr>
					
					<tr>
					{% include /functions/show-spms.html spm="SPM3" %}
					</tr>
				
				</tbody>
  			</table>
		</div>
	</div>
</section>

