---
layout: default
---

{% assign chapters = "" | split: "," %}
{% assign last_chapter = "" %}
{% assign docs = site.selbstbericht | sort: 'path' %}


{% for doc in docs %}
	{% assign path = doc.path  | remove_first:'_selbstbericht/' | split:'/' %}
	{% assign subpath = '_selbstbericht/' | append: path.first %}
	
	{% if subpath != last_chapter %}
 	   {% assign chapters = chapters | push: subpath %}
 	   {% assign last_chapter = subpath %}
 	{% endif %}
{% endfor %}


<section class="section">
	<div class="container">
		<div class="content">
	    	<h1>Selbstbericht</h1>
		</div>
	</div>
</section>

<section class="section selbstbericht">
	<div class="container">
		<h2 class="title is-4">Dokumente für die Reakkreditierung</h2>
		
		<div class="toc">
			<ol class="menu-list">
			{% for chapter in chapters %}
				
				{% assign subchapters = "" | split: "," %}
				{% for doc in docs %}
					{% if doc.path contains chapter %}
						{% assign subchapters = subchapters | push: doc %}
					{% endif %}
				{% endfor %}
		
				{% assign count = 0 %}
				{% for doc in subchapters %}
					{% if count == 0 %}
						{% assign check = doc.aktueller-bearbeiter | strip_newlines %}
						<li><a href="#{{doc.id}}">{{doc.title}} {% if check == ""  %}<span class="icon"><i class="fa fa-edit"></i></span>{% else %} (derzeit bearbeitet von {{check}}){% endif %}</a></li>
					{% endif %}
					{% assign count = count | plus: 1 %}
				{% endfor %}
			{% endfor %}
			</ol>
		</div>
	</div>
</section>

<div id="selbstbericht">	
	{% for chapter in chapters %}
		{% assign subchapters = "" | split: "," %}
		{% for doc in docs %}
			{% if doc.path contains chapter %}
				{% assign subchapters = subchapters | push: doc %}
			{% endif %}
		{% endfor %}

		{% assign count = 0 %}
		{% assign doc = subchapters | first %}
		<section class="section selbstbericht" id="{{doc.id}}">
			<div class="container">
				<div class="content">
					
					<div class="columns">
						<div class="column is-8"><h1 id="{{doc.id}}">{{ doc.title }}</h1></div>
						{% assign check = doc.aktueller-bearbeiter | strip_newlines %}
						{% if check == ""  %}
						<div class="column is-4 has-text-right bearbeiten">
							<a target="_blank" href="https://github.com/th-koeln/mi-2017/edit/master/{{ doc.path }}"><span class="icon"><i class="fa fa-edit"></i></span> Bearbeiten</a>
						</div>
						{% endif %}
					</div>
					
					{% include /functions/show-doc-status.html doc=doc %}
					
					{{doc.content}}
					
					{% for doc in subchapters %}
					{% assign count = count | plus: 1 %}
					{% if count > 1 %}

						{% include /functions/shift-level.html content=doc.content %}
						{% assign check = doc.aktueller-bearbeiter | strip_newlines %}
						<h2 id="{{doc.id}}">{{ doc.title }}{% if check == ""  %} <a target="_blank" href="https://github.com/th-koeln/mi-2017/edit/master/{{ doc.path }}"><span class="icon"><i class="fa fa-edit"></i></span> Bearbeiten</a>{% endif %}</h2>
						
						{% include /functions/show-doc-status.html doc=doc %}
						
						{{content}}
						
					{% endif %}
					{% endfor %}
				</div>
			</div>
		</section>

	{% endfor %}

	
</div>
