
//
// VARIABLES
//

// Colors
$mi-blau: #4952e1;
$mi-pink: #dd1166;
$mi-gruen: #00AD2F;
$mi-lila: #9313ce;
$mi-black: #231f20;

$family-primary: "PT Sans";
$primary:  $mi-pink;
$info:     $mi-lila;
$success:  $mi-gruen;

$bfs: 1.2rem;
$size-normal: $bfs;