{% assign contentArray = page.content | markdownify | split: site.excerpt_separator %}
<div class="section buildingBlock">
  <div class="container {{page.additionalClasses}}">
    <h2 class="title" id="{{page.titel |slugify}}">{{page.titel}}</h2>
    <div class="columns">
      <div class="column is-one-half">
        <div class="content">
          {{ contentArray.first }}
        </div>
      </div>
      <div class="column">
        <div class="content">
          {{ contentArray.last }}
        </div>
      </div>
    </div>
  </div>
</div>