<!DOCTYPE html>
<html lang="de">
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <link rel="shortcut icon" type="image/x-icon" href="{{site.baseurl}}/favicon.ico">

  </head>

  <body>
	  
	<section class="hero is-primary">
	  <!-- Hero header: will stick at the top -->
	  <div class="hero-head">
	    <header class="nav">
	      <div class="container">
	        <div class="nav-left">
	          <a href="{{ site.baseurl }}/" class="nav-item"><img src="{{ site.avatar }}" /></a>
	        </div>
	        <span class="nav-toggle">
	          <span></span>
	          <span></span>
	          <span></span>
	        </span>
	        <div class="nav-right nav-menu">
	          <a href="{{ site.baseurl }}/" class="nav-item">Bachelor</a>
	          <a href="{{ site.baseurl }}/master/" class="nav-item">Master</a>
	          <!--a href="{{ site.baseurl }}/bpo3/" class="nav-item">BPO3</a-->
	          <a href="{{ site.baseurl }}/selbstbericht/" class="nav-item">Selbstbericht</a>
	          <!--a href="{{ site.baseurl }}/selbstbericht-bausteine/" class="nav-item">Textbausteine</a-->
	          <!--a href="{{ site.baseurl }}/ideen/" class="nav-item">Ideen & Notizen</a-->
	          <a href="{{ site.baseurl }}/dozenten/" class="nav-item">Dozenten</a>
	        </div>
	      </div>
	    </header>
	  </div>
	
	  <!-- Hero content: will be in the middle -->
	  <div class="hero-body">
	    <div class="container">
	      <h1 class="title">
	        {{ site.name }}
	      </h1>
	      <h2 class="subtitle">
	        {{ site.description }}
	      </h2>
	    </div>
	  </div>
	
	  <!-- Hero footer: will stick at the bottom -->
	  <!--div class="hero-foot">
	    <nav class="tabs is-boxed is-fullwidth">
	      <div class="container">
	        <ul>
	          <li class="is-active"><a>Overview</a></li>
	          <li><a>Modifiers</a></li>
	          <li><a>Grid</a></li>
	          <li><a>Elements</a></li>
	          <li><a>Components</a></li>
	          <li><a>Layout</a></li>
	        </ul>
	      </div>
	    </nav>
	  </div-->
	</section>
  	

    {{ content }}
    
	<footer class="footer is-non-print">
		<div class="container">
			<ul class="menu-list">
				<li><a href="https://raw.githubusercontent.com/th-koeln/mi-2017/master/_blueprints/modulbeschreibung.md">Blueprint für Modulbeschreibung</a></li>
				<li><a href="{{ site.baseurl }}/">Bachelor</a></li>
				<li><a href="{{ site.baseurl }}/master/">Master</a></li>
				<li><a href="{{ site.baseurl }}/selbstbericht/">Selbstbericht</a></li>
				<!--li><a href="{{ site.baseurl }}/leitfragen-asiin/">Leitfragen</a></li-->
				<!--li><a href="{{ site.baseurl }}/selbstbericht-bausteine/" class="nav-item">Textbausteine</a></li-->
				<!--li><a href="{{ site.baseurl }}/bpo3/" class="nav-item">BPO3</a></li-->
				<!--li><a href="{{ site.baseurl }}/ideen/" class="nav-item">Ideen & Notizen</a></li-->
				<li><a href="{{ site.baseurl }}/dozenten/" class="nav-item">Dozenten</a></li>
			</ul>
		</div>
	</footer>
	
    <!--div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
        </footer>
      </div>
    </div-->
  <script type="text/javascript" src="{{ site.baseurl }}/mi-2017.js"></script>

  </body>

</html>
