<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
	
	<link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

  </head>

  <body>
  	
  	<div id="header" class="pure-g content">
	    <header class="main-header pure-u-5-5">
	      <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>
	      <div class="site-info">
	        <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
	        <p class="site-description">{{ site.description }}</p>
	      </div>
	
	    </header>
  	</div>
  	

    {{ content }}
    
	<footer class="pure-g content">
		<div class="pure-u-5-5 main-footer"></div>
	</footer>
	
    <!--div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
        </footer>
      </div>
    </div-->

  </body>
</html>
